<!DOCTYPE html>
<html>
  <head>
    <title>Charge accepted</title>
    <link rel="stylesheet" type="text/css" href="http://necolas.github.io/normalize.css/3.0.1/normalize.css">
    <style media="screen">
      body {
        background: #FaFaFa
      }
      h1 {
        text-align: center;
        border-bottom: 4px solid #f7f7f7;
        padding-bottom: 0.4em;
        display: block;
      }
      #verify {
        width: 100%;
        margin-bottom:0.4em;
      }
      textarea {
        width: 100%;
      }
      #list, #info { width: 400px; margin: 2em auto; }
      #info b {
        margin-right: 0.4em;
      }
      input {
        float: right
      }
      li {
        display: inline-table;
        width: 100%;
        margin-bottom:0.4em
      }
      .comment { color: #ddd }
      .init { color: #2f6fad }
      .string { color: #5890ad }
      .keyword { color: #8a6343 }
    </style>
  </head>
  <body>
    <div id="info">
      <a href="/">&larr; back</a>
      <h3>Transaction ID: {{sid}}</h3>
      <small><em>usually hidden</em></small>
      <p>
        Required informations about the transaction:
      </p>
      <ul>
        <li>app: <input id="app" value="{{app}}"></li>
        <li>mail: <input id="mail" value="{{mail}}"></li>
        <li>product: <input id="product" value="{{product}}"></li>
        <li>provider: <input id="provider" value="{{provider}}"></li>
      </ul>

      <button name="verify" id="verify">Verify</button>

      <pre id="results"></pre>
    </div>
    <script charset="utf-8">
      var _ = {{obj}}
    </script>
    <script src="/app.js" charset="utf-8"></script>
  </body>
</html>
