<!DOCTYPE html>
<html>
<head>
  <title>Stripe Verification</title>
  <link rel="stylesheet" type="text/css" href="http://necolas.github.io/normalize.css/3.0.1/normalize.css">
  <style type="text/css">
  body {
    background: #FaFaFa
  }
  h1 {
    text-align: center;
    border-bottom: 4px solid #f7f7f7;
    padding-bottom: 0.4em;
    display: block;
  }
  #pay {
    margin: 0 auto;
    width: 120px;
  }
  #list, #info { width: 400px; margin: 2em auto; }
  #info b {
    margin-right: 0.4em;
  }
  </style>
</head>
<body>

<h1>Stripe test!</h1>

<div id="pay">
  <form action="/charge" method="POST">
    <h1>One Time payment</h1>
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_OPRxv4C0CFWk6VTxUPc0bPgf"
      data-name="Banana INC Test"
      data-description="banana.io ($20.00)"
      data-allow-remember-me="false"
      data-image="http://f.cl.ly/items/1B332h2R36070G0c1Z2v/3112banana.jpg"
      data-amount="2000">
    </script>
  </form>

  <form action="/sub" method="post">
    <h1>Subscription</h1>

    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_OPRxv4C0CFWk6VTxUPc0bPgf"
      data-name="Subscription Test"
      data-description="£32.00"
      data-allow-remember-me="true"
      data-image="http://f.cl.ly/items/1B332h2R36070G0c1Z2v/3112banana.jpg"
      data-amount="3200">
    </script>
  </form>
</div>

<div id="info">
  test card: <b>4242</b><b>4242</b><b>4242</b><b>4242</b>

  <p>
    This part of the workflow is delegated to a 3rd party (Banana INC in this case)
  </p>
</div>

<div id="list">
  <h3>Last transactions:</h3>
  <script charset="utf-8">
    // very old-school piece of js, I know ... don't try this at home
    ({{list}}).forEach(function (e) {
      document.write('<a href="/'+ e.sid +'">'+ e.sid +'</a><br>');
    });
  </script>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script charset="utf-8">
  Stripe.setPublishableKey('pk_test_OPRxv4C0CFWk6VTxUPc0bPgf');
</script>
<script type="text/javascript" src="/app.js"></script>

</body>
</html>
